Hotel_Accomodation.json
[{"id":"500c04f5.8a4544","type":"tab","label":"Sprint_01 Hotels","disabled":false,"info":""},{"id":"234416d8.8fba6a","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccommodationProfile-Hotel_Aphrodite\",\"type\":\"Accommodation\",\"Address\":{\"type\":\"string\",\"value\":\"\"},\"DataObserved\":{\"type\":\"string\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"integer\",\"value\":\"\"},\"MonthlyBudget\":{\"type\":\"float\",\"value\":\"\"},\"PhoneNum\":{\"type\":\"string\",\"value\":\"\"},\"Suites\":{\"type\":\"json\",\"value\":\"\"},\"TotalRoomAvailability\":{\"type\":\"integer\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.64433\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.94635\"}}","payloadType":"json","x":270,"y":380,"wires":[["c2c20499.60a218"]]},{"id":"c2c20499.60a218","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": `Location-`+msgIn.id,\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["e232b655.283c18","e5478947.1291a8"]]},{"id":"e232b655.283c18","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":440,"wires":[]},{"id":"e5478947.1291a8","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"37.958958","longitude":"23.719182","k1":"b3fda4b7-5286-4c93-8385-3aa60572a00f","k2":"f7bae944-0d5b-4091-90b3-8138e52affea","model":"AccommodationProfile","selectedModel":"AccommodationProfile","staticAttributeList":[],"x":720,"y":380,"wires":[["86ba23d4.bdc97","67c6f942.381f08"]]},{"id":"67c6f942.381f08","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":440,"wires":[]},{"id":"86ba23d4.bdc97","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"AccommodationProfile-Hotel_Aphrodite\",\n  \"type\": \"Accommodation\",\n  \"Address\": {\n    \"type\": \"string\",\n    \"value\": \"Papafi 20\"\n  },\n  \"DataObserved\": {\n    \"type\": \"string\",\n    \"value\": \"\"\n  },\n  \"DateObserved\": {\n    \"type\": \"string\",\n    \"value\": \"2023-11-8T13:10:54.892Z\"\n  },\n  \"Hotel_Id\": {\n    \"type\": \"string\",\n    \"value\": \"Hotel_2\"\n  },\n        \"MonthlyBudget\": {\n        \"type\": \"float\",\n        \"value\": \"8000\"\n    },\n  \"PhoneNum\": {\n    \"type\": \"string\",\n    \"value\": \"2310222222\"\n  },\n    \"Suites\": {\n    \"type\": \"json\",\n    \"value\": \"2\"\n  },\n  \"TotalRoomAvailability\": {\n    \"type\": \"integer\",\n    \"value\": \"20\"\n  },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.64433\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.94635\"\n  }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":380,"wires":[["5bd7097.f19aff8","a6ac4d80.ea507"]]},{"id":"a6ac4d80.ea507","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":440,"wires":[]},{"id":"5bd7097.f19aff8","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":380,"wires":[]},{"id":"9221da6c.cbfb2","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccommodationProfile-TheMetHotel\",\"type\":\"Accommodation\",\"Address\":{\"type\":\"string\",\"value\":\"\"},\"DataObserved\":{\"type\":\"string\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"integer\",\"value\":\"\"},\"MonthlyBudget\":{\"type\":\"float\",\"value\":\"\"},\"Name\":{\"type\":\"string\",\"value\":\"\"},\"PhoneNum\":{\"type\":\"string\",\"value\":\"\"},\"Suites\":{\"type\":\"json\",\"value\":\"\"},\"TotalRoomAvailability\":{\"type\":\"integer\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.64066\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.92044\"}}","payloadType":"json","x":270,"y":520,"wires":[["bef0f6d9.6fbe48"]]},{"id":"bef0f6d9.6fbe48","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": `Location-`+msgIn.id,\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["7a1cdbb5.2ec57c","566e7a2d.c6ee5c"]]},{"id":"7a1cdbb5.2ec57c","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":580,"wires":[]},{"id":"566e7a2d.c6ee5c","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"37.958958","longitude":"23.719182","k1":"b3fda4b7-5286-4c93-8385-3aa60572a00f","k2":"f7bae944-0d5b-4091-90b3-8138e52affea","model":"AccommodationProfile","selectedModel":"AccommodationProfile","staticAttributeList":[],"x":720,"y":520,"wires":[["c11df31d.258d78","ef340df9.000fd"]]},{"id":"ef340df9.000fd","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":580,"wires":[]},{"id":"c11df31d.258d78","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"AccommodationProfile-TheMetHotel\",\n  \"type\": \"Accommodation\",\n  \"Address\": {\n    \"type\": \"string\",\n    \"value\": \"Vas.Olgas 65\"\n  },\n  \"DataObserved\": {\n    \"type\": \"string\",\n    \"value\": \"\"\n  },\n  \"DateObserved\": {\n    \"type\": \"string\",\n    \"value\": \"2023-11-8T13:10:54.892Z\"\n  },\n  \"Hotel_Id\": {\n    \"type\": \"string\",\n    \"value\": \"Hotel_3\"\n  },\n        \"MonthlyBudget\": {\n        \"type\": \"float\",\n        \"value\": \"13000\"\n    },\n  \"Name\": {\n    \"type\": \"string\",\n    \"value\": \"The Met\"\n  },\n  \"PhoneNum\": {\n    \"type\": \"string\",\n    \"value\": \"2310555555\"\n  },\n    \"Suites\": {\n    \"type\": \"json\",\n    \"value\": \"2\"\n  },\n  \"TotalRoomAvailability\": {\n    \"type\": \"integer\",\n    \"value\": \"35\"\n  },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.64066\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.92044\"\n  }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":520,"wires":[["a387cd5e.23847","d6265437.35bf3"]]},{"id":"d6265437.35bf3","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":580,"wires":[]},{"id":"a387cd5e.23847","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":520,"wires":[]},{"id":"f2b300dd.09c0a8","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccommodationProfile-ElectraPalace\",\"type\":\"Accommodation\",\"Address\":{\"type\":\"json\",\"value\":\"\"},\"DataObserved\":{\"type\":\"string\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"integer\",\"value\":\"\"},\"MonthlyBudget\":{\"type\":\"float\",\"value\":\"\"},\"Name\":{\"type\":\"string\",\"value\":\"\"},\"PhoneNum\":{\"type\":\"string\",\"value\":\"\"},\"Provider\":{\"type\":\"string\",\"value\":\"\"},\"Suites\":{\"type\":\"json\",\"value\":\"\"},\"TotalRoomAvailability\":{\"type\":\"integer\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63312\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.94119\"}}","payloadType":"json","x":270,"y":800,"wires":[["7faa8b61.c1c27c"]]},{"id":"7faa8b61.c1c27c","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": `Location-`+msgIn.id,\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":800,"wires":[["ef2eee24.3c4c48","20b9352c.de7f52"]]},{"id":"20b9352c.de7f52","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":860,"wires":[]},{"id":"ef2eee24.3c4c48","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"37.958958","longitude":"23.719182","k1":"b3fda4b7-5286-4c93-8385-3aa60572a00f","k2":"f7bae944-0d5b-4091-90b3-8138e52affea","model":"AccommodationProfile","selectedModel":"AccommodationProfile","staticAttributeList":[],"x":700,"y":800,"wires":[["aca3c6d6.416e8","66589040.a0ec38"]]},{"id":"66589040.a0ec38","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":860,"wires":[]},{"id":"aca3c6d6.416e8","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"AccommodationProfile-ElectraPalace\",\n  \"type\": \"Accommodation\",\n  \"Address\": {\n    \"type\": \"json\",\n    \"value\": \"Aristotelous 9\"\n  },\n  \"DataObserved\": {\n    \"type\": \"string\",\n    \"value\": \"\"\n  },\n  \"DateObserved\": {\n    \"type\": \"string\",\n    \"value\": \"2023-11-8T13:10:54.892Z\"\n  },\n  \"Hotel_Id\": {\n    \"type\": \"string\",\n    \"value\": \"Hotel_5\"\n  },\n        \"MonthlyBudget\": {\n        \"type\": \"float\",\n        \"value\": \"14000\"\n    },\n  \"Name\": {\n    \"type\": \"string\",\n    \"value\": \"Electra Palace\"\n  },\n  \"PhoneNum\": {\n    \"type\": \"string\",\n    \"value\": \"2310111111\"\n  },\n  \"Provider\": {\n    \"type\": \"string\",\n    \"value\": \"\"\n  },\n  \"Suites\": {\n    \"type\": \"json\",\n    \"value\": \"2\"\n  },\n  \"TotalRoomAvailability\": {\n    \"type\": \"integer\",\n    \"value\": \"16\"\n  },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.63312\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.94119\"\n  }\n}\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":800,"wires":[["24de84e1.4cb694","684d19c1.c3a5d"]]},{"id":"684d19c1.c3a5d","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":860,"wires":[]},{"id":"24de84e1.4cb694","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1220,"y":800,"wires":[]},{"id":"1fe8a6.0ddb3f5b","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccommodationProfile-MakedoniaPalace\",\"type\":\"Accommodation\",\"Address\":{\"type\":\"string\",\"value\":\"\"},\"DataObserved\":{\"type\":\"string\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"integer\",\"value\":\"\"},\"MonthlyBudget\":{\"type\":\"float\",\"value\":\"\"},\"Name\":{\"type\":\"string\",\"value\":\"\"},\"PhoneNum\":{\"type\":\"string\",\"value\":\"\"},\"Suites\":{\"type\":\"json\",\"value\":\"\"},\"TotalRoomAvailability\":{\"type\":\"integer\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.61823\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.95243\"}}","payloadType":"json","x":270,"y":660,"wires":[["4bed4821.e14ae8"]]},{"id":"4bed4821.e14ae8","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": `Location-`+msgIn.id,\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":660,"wires":[["e2848e95.bf3c38","c6dea90e.b083f8"]]},{"id":"e2848e95.bf3c38","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":720,"wires":[]},{"id":"c6dea90e.b083f8","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"37.958958","longitude":"23.719182","k1":"b3fda4b7-5286-4c93-8385-3aa60572a00f","k2":"f7bae944-0d5b-4091-90b3-8138e52affea","model":"AccommodationProfile","selectedModel":"AccommodationProfile","staticAttributeList":[],"x":720,"y":660,"wires":[["d9b1d124.ecd7a8","2c88dcb2.3984dc"]]},{"id":"2c88dcb2.3984dc","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":720,"wires":[]},{"id":"d9b1d124.ecd7a8","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"AccommodationProfile-MakedoniaPalace\",\n  \"type\": \"Accommodation\",\n  \"Address\": {\n    \"type\": \"string\",\n    \"value\": \"Leof. Meg. Alexandrou 2\"\n  },\n  \"DataObserved\": {\n    \"type\": \"string\",\n    \"value\": \"\"\n  },\n  \"DateObserved\": {\n    \"type\": \"string\",\n    \"value\": \"2023-11-8T13:10:54.892Z\"\n  },\n  \"Hotel_Id\": {\n    \"type\": \"string\",\n    \"value\": \"Hotel_4\"\n  },\n        \"MonthlyBudget\": {\n        \"type\": \"float\",\n        \"value\": \"15000\"\n    },\n  \"Name\": {\n    \"type\": \"string\",\n    \"value\": \"Makedonia Palace\"\n  },\n  \"PhoneNum\": {\n    \"type\": \"string\",\n    \"value\": \"2310444444\"\n  },\n    \"Suites\": {\n    \"type\": \"json\",\n    \"value\": \"2\"\n  },\n  \"TotalRoomAvailability\": {\n    \"type\": \"integer\",\n    \"value\": \"27\"\n  },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.61823\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.95243\"\n  }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":660,"wires":[["e6ffb281.8ded3","16a5a7f7.c3682"]]},{"id":"16a5a7f7.c3682","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":720,"wires":[]},{"id":"e6ffb281.8ded3","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":660,"wires":[]},{"id":"7ee43ab2.ddb594","type":"comment","z":"500c04f5.8a4544","name":"Electra Palace","info":"","x":300,"y":740,"wires":[]},{"id":"2b1f0f39.838b9","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccommodationProfile-Hotel_Olympion\",\"type\":\"Accommodation\",\"Address\":{\"type\":\"string\",\"value\":\"\"},\"DataObserved\":{\"type\":\"string\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"integer\",\"value\":\"\"},\"MonthlyBudget\":{\"type\":\"float\",\"value\":\"\"},\"Name\":{\"type\":\"string\",\"value\":\"\"},\"PhoneNum\":{\"type\":\"string\",\"value\":\"\"},\"Suites\":{\"type\":\"json\",\"value\":\"\"},\"TotalRoomAvailability\":{\"type\":\"integer\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63141\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.94778\"}}","payloadType":"json","x":270,"y":240,"wires":[["96901412.75429"]]},{"id":"35a7471a.8c6998","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"96901412.75429","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": `Location-`+msgIn.id,\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":240,"wires":[["35a7471a.8c6998","51073322.de10b4"]]},{"id":"dcf896e9.e9878","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":300,"wires":[]},{"id":"51073322.de10b4","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"37.958958","longitude":"23.719182","k1":"f92d1cc6-3780-4c75-bacc-1c92a0bc87b6","k2":"71672af0-7f3a-4f16-94e5-3eea0b020283","model":"AccommodationProfile","selectedModel":"AccommodationProfile","staticAttributeList":[],"x":700,"y":240,"wires":[["dcf896e9.e9878","42a2dabd.bc4904"]]},{"id":"e0217018.2f0e88","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":300,"wires":[]},{"id":"faf7b772.8d0998","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":240,"wires":[]},{"id":"42a2dabd.bc4904","type":"function","z":"500c04f5.8a4544","name":"function","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"AccommodationProfile-Hotel_Olympion\",\n  \"type\": \"Accommodation\",\n  \"Address\": {\n    \"type\": \"string\",\n    \"value\": \"Egnatia 1\"\n  },\n  \"DataObserved\": {\n    \"type\": \"string\",\n    \"value\": \"\"\n  },\n  \"DateObserved\": {\n    \"type\": \"string\",\n    \"value\": \"2023-11-8T13:10:54.892Z\"\n  },\n  \"Hotel_Id\": {\n    \"type\": \"string\",\n    \"value\": \"Hotel_1\"\n  },\n    \"MonthlyBudget\": {\n        \"type\": \"float\",\n        \"value\": \"10000\"\n    },\n  \"Name\": {\n    \"type\": \"string\",\n    \"value\": \"Hotel Olympion\"\n  },\n  \"PhoneNum\": {\n    \"type\": \"string\",\n    \"value\": \"2310333333\"\n  },\n    \"Suites\": {\n    \"type\": \"json\",\n    \"value\": \"2\"\n  },\n  \"TotalRoomAvailability\": {\n    \"type\": \"integer\",\n    \"value\": \"10\"\n  },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.63141\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.94778\"\n  }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":240,"wires":[["faf7b772.8d0998","e0217018.2f0e88"]]},{"id":"8b4b551b.fe2a4","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccomodationEnergyCost_Makedonia\",\"type\":\"EnergyCost\",\"DailyKWh\":{\"type\":\"float\",\"value\":\"\"},\"EuroCost\":{\"type\":\"float\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"string\",\"value\":\"\"},\"dateObserved\":{\"type\":\"string\",\"value\":\"\"},\"SuiteCostTotal\":{\"type\":\"float\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.61835\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.95248\"}}","payloadType":"json","x":1770,"y":380,"wires":[["eb74b184.2c289"]]},{"id":"eb74b184.2c289","type":"function","z":"500c04f5.8a4544","name":"","func":"// create an object out to store the output data\nvar out = {};\n\n// The data from the injected 'msg.payload' is assigned to the 'msgIn'\nmsgIn = msg.payload;\n\n// initialize in out.payload the attribute devicename\n out.payload = {\n        \"devicename\": \"Hotel_Energy_Makedonia\"\n        \n };\n\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1940,"y":380,"wires":[["80174c01.004838","6b95098b.1c5f88"]]},{"id":"adef1ed7.5a346","type":"function","z":"500c04f5.8a4544","name":"","func":"// initialize the out object to store attributes\nmsgIn = msg.payload[0];\nvar out = {};\n\nvar value1 = parseFloat(context.flow.get('DailySuiteKwh_Makedonia1')) || 0;\nvar value2 = parseFloat(context.flow.get('DailySuiteKwh_Makedonia2')) || 0;\n\nvar cost_value1 = parseFloat(context.flow.get('SuiteCost_Makedonia1')) || 0;\nvar cost_value2 = parseFloat(context.flow.get('SuiteCost_Makedonia2')) || 0;\n\n// Add the values\nvar DailyKWh_total = value1 + value2;\nvar EuroCost_total = DailyKWh_total * 0.12;\nvar SuiteCost_total = cost_value1 + cost_value2;\n\nout.payload = \n{\n  \"id\": \"Hotel_Energy_Makedonia\",\n  \"type\": \"EnergyCost\",\n  \"DailyKWh\": {\n    \"type\": \"float\",\n    \"value\": DailyKWh_total\n  },\n  \"EuroCost\": {\n    \"type\": \"float\",\n    \"value\": EuroCost_total\n  },\n  \"Hotel_Id\": {\n    \"type\": \"string\",\n    \"value\": \"Energy_Makedonia\"\n  },\n  \"dateObserved\": {\n    \"type\": \"string\",\n    \"value\": \"2023-11-18T13:10:54.892Z\"\n  },\n        \"SuiteCostTotal\": {\n    \"type\": \"float\",\n    \"value\": SuiteCost_total\n  },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.61835\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.95248\"\n  }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":380,"wires":[["988744f7.57868","594c7f29.0e1dc8"]]},{"id":"80174c01.004838","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"","longitude":"","k1":"5396e35a-d293-4242-83bd-9e33a7a8d1a8","k2":"309f0438-33fe-463c-82d9-ff278360801b","model":"AccomodationEnergyCost","selectedModel":"AccomodationEnergyCost","staticAttributeList":[],"x":2200,"y":380,"wires":[["adef1ed7.5a346"]]},{"id":"6b95098b.1c5f88","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2130,"y":440,"wires":[]},{"id":"594c7f29.0e1dc8","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2690,"y":440,"wires":[]},{"id":"988744f7.57868","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"218495ec.90e97a","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":2720,"y":380,"wires":[]},{"id":"7473975c.9197a","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccomodationEnergyCost_Met\",\"type\":\"EnergyCost\",\"DailyKWh\":{\"type\":\"float\",\"value\":\"\"},\"EuroCost\":{\"type\":\"float\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"string\",\"value\":\"\"},\"dateObserved\":{\"type\":\"string\",\"value\":\"\"},\"SuiteCostTotal\":{\"type\":\"float\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.64072\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.92059\"}}","payloadType":"json","x":1750,"y":520,"wires":[["582fa90e.6c496"]]},{"id":"582fa90e.6c496","type":"function","z":"500c04f5.8a4544","name":"","func":"// create an object out to store the output data\nvar out = {};\n\n// The data from the injected 'msg.payload' is assigned to the 'msgIn'\nmsgIn = msg.payload;\n\n// initialize in out.payload the attribute devicename\n out.payload = {\n        \"devicename\": \"Hotel_Energy_Met\"\n        \n };\n\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":520,"wires":[["8b987a3a.a8f1f8","6da4478c.775cb8"]]},{"id":"777d44bb.5c0154","type":"function","z":"500c04f5.8a4544","name":"","func":"// initialize the out object to store attributes\nmsgIn = msg.payload[0];\nvar out = {};\n\nvar value1 = parseFloat(context.flow.get('DailySuiteKwh_Met1')) || 0;\nvar value2 = parseFloat(context.flow.get('DailySuiteKwh_Met2')) || 0;\n\nvar cost_value1 = parseFloat(context.flow.get('SuiteCost_Met1')) || 0;\nvar cost_value2 = parseFloat(context.flow.get('SuiteCost_Met2')) || 0;\n\n// Add the values\nvar DailyKWh_total = value1 + value2;\nvar EuroCost_total = DailyKWh_total * 0.12;\nvar SuiteCost_total = cost_value1 + cost_value2;\n\nout.payload = \n{\n  \"id\": \"Hotel_Energy_Met\",\n  \"type\": \"EnergyCost\",\n    \"DailyKWh\": {\n        \"type\": \"float\",\n        \"value\": DailyKWh_total\n    },\n    \"EuroCost\": {\n        \"type\": \"float\",\n        \"value\": EuroCost_total\n    },\n    \"Hotel_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Energy_Met\"\n    },\n    \"dateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T13:10:54.892Z\"\n    },\n        \"SuiteCostTotal\": {\n    \"type\": \"float\",\n    \"value\": SuiteCost_total\n  },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.64072\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.92059\"\n    }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2450,"y":520,"wires":[["6501c5a.1b69bbc","c7512223.be948"]]},{"id":"8b987a3a.a8f1f8","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"","longitude":"","k1":"91fd39a3-469c-47fd-a9ca-906d6e56deb9","k2":"9df0bf5d-0041-4661-a5b4-836173f892fe","model":"AccomodationEnergyCost","selectedModel":"AccomodationEnergyCost","staticAttributeList":[],"x":2180,"y":520,"wires":[["777d44bb.5c0154"]]},{"id":"6da4478c.775cb8","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2110,"y":580,"wires":[]},{"id":"c7512223.be948","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2670,"y":580,"wires":[]},{"id":"6501c5a.1b69bbc","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"218495ec.90e97a","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":2700,"y":520,"wires":[]},{"id":"67568b80.ad018c","type":"comment","z":"500c04f5.8a4544","name":"MakedoniaKWH","info":"","x":1780,"y":320,"wires":[]},{"id":"e4344fbd.fe2e4","type":"comment","z":"500c04f5.8a4544","name":"MetKWH","info":"","x":1760,"y":460,"wires":[]},{"id":"4e913b9f.5caefc","type":"comment","z":"500c04f5.8a4544","name":"Olympion","info":"","x":330,"y":180,"wires":[]},{"id":"21b5e421.b25dec","type":"comment","z":"500c04f5.8a4544","name":"Aphrodite","info":"","x":320,"y":340,"wires":[]},{"id":"3fb2384b.82cce","type":"comment","z":"500c04f5.8a4544","name":"Met","info":"","x":290,"y":480,"wires":[]},{"id":"8c4e666.0c27618","type":"comment","z":"500c04f5.8a4544","name":"Makedonia","info":"","x":280,"y":620,"wires":[]},{"id":"679f387b.06b7e","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccomodationEnergyCost_Olympia\",\"type\":\"EnergyCost\",\"DailyKHh\":{\"type\":\"integer\",\"value\":\"\"},\"DailyKWh\":{\"type\":\"float\",\"value\":\"\"},\"EuroCost\":{\"type\":\"float\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"string\",\"value\":\"\"},\"dateObserved\":{\"type\":\"string\",\"value\":\"\"},\"SuiteCostTotal\":{\"type\":\"float\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.65059\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.92177\"}}","payloadType":"json","x":1750,"y":660,"wires":[["81699e17.e51c98"]]},{"id":"81699e17.e51c98","type":"function","z":"500c04f5.8a4544","name":"","func":"// create an object out to store the output data\nvar out = {};\n\n// The data from the injected 'msg.payload' is assigned to the 'msgIn'\nmsgIn = msg.payload;\n\n// initialize in out.payload the attribute devicename\n out.payload = {\n        \"devicename\": \"Hotel_Energy_Olympia\"\n        \n };\n\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":660,"wires":[["559cbb93.1a7b2c","9cce69e3.e9ed08"]]},{"id":"da8a8b3d.0adf5","type":"function","z":"500c04f5.8a4544","name":"","func":"// initialize the out object to store attributes\nmsgIn = msg.payload[0];\nvar out = {};\n\nvar value1 = parseFloat(context.flow.get('DailySuiteKwh_Olympion1')) || 0;\nvar value2 = parseFloat(context.flow.get('DailySuiteKwh_Olympion2')) || 0;\n\nvar cost_value1 = parseFloat(context.flow.get('SuiteCost_Olympion1')) || 0;\nvar cost_value2 = parseFloat(context.flow.get('SuiteCost_Olympion2')) || 0;\n\n// Add the values\nvar DailyKWh_total = value1 + value2;\nvar EuroCost_total = DailyKWh_total * 0.11;\nvar SuiteCost_total = cost_value1 + cost_value2;\n\nout.payload = \n{\n  \"id\": \"Hotel_Energy_Olympia\",\n  \"type\": \"sensor\",\n    \"DailyKWh\": {\n        \"type\": \"float\",\n        \"value\": DailyKWh_total\n    },\n    \"EuroCost\": {\n        \"type\": \"float\",\n        \"value\": EuroCost_total\n    },\n    \"Hotel_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Energy_Olympia\"\n    },\n    \"dateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T13:10:54.892Z\"\n    },\n        \"SuiteCostTotal\": {\n    \"type\": \"float\",\n    \"value\": SuiteCost_total\n  },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.65059\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.92177\"\n    }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2450,"y":660,"wires":[["80f2b421.cf1d5","f223e28d.a8a728"]]},{"id":"559cbb93.1a7b2c","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"","longitude":"","k1":"fb473341-f3a9-43e8-ad35-351d89f3ce28","k2":"6e5ef18a-3678-4555-90a0-b7a3b34e8888","model":"AccomodationEnergyCost","selectedModel":"AccomodationEnergyCost","staticAttributeList":[],"x":2180,"y":660,"wires":[["da8a8b3d.0adf5"]]},{"id":"9cce69e3.e9ed08","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2110,"y":720,"wires":[]},{"id":"f223e28d.a8a728","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2670,"y":720,"wires":[]},{"id":"80f2b421.cf1d5","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"218495ec.90e97a","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":2700,"y":660,"wires":[]},{"id":"47e40fa9.f63838","type":"comment","z":"500c04f5.8a4544","name":"OlympionKWH","info":"","x":1770,"y":600,"wires":[]},{"id":"97ad0d09.1f982","type":"comment","z":"500c04f5.8a4544","name":"Hotel_Olympion","info":"","x":720,"y":1160,"wires":[]},{"id":"6ec21b3.b9a15e4","type":"inject","z":"500c04f5.8a4544","name":"Suite 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite1_Olympion\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63897\"},\"longitude\":{\"type\":\"float\",\"value\":\"23.00317\"}}","payloadType":"json","x":290,"y":1220,"wires":[["b6afe8ea.2f0868"]]},{"id":"c08f0667.ca9048","type":"comment","z":"500c04f5.8a4544","name":"Electra","info":"","x":1750,"y":760,"wires":[]},{"id":"55295378.c3b54c","type":"inject","z":"500c04f5.8a4544","name":"Suite 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite2_Olympion\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63897\"},\"longitude\":{\"type\":\"float\",\"value\":\"23.00317\"}}","payloadType":"json","x":290,"y":1360,"wires":[["a2782696.b8e358"]]},{"id":"b5e9a6c1.f6ed48","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccomodationEnergyCost_Electra\",\"type\":\"EnergyCost\",\"DailyKWh\":{\"type\":\"float\",\"value\":\"\"},\"EuroCost\":{\"type\":\"float\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"string\",\"value\":\"\"},\"dateObserved\":{\"type\":\"string\",\"value\":\"\"},\"SuiteCostTotal\":{\"type\":\"float\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63318\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.94122\"}}","payloadType":"json","x":1750,"y":820,"wires":[["bbfc4871.d02088"]]},{"id":"bbfc4871.d02088","type":"function","z":"500c04f5.8a4544","name":"","func":"// create an object out to store the output data\nvar out = {};\n\n// The data from the injected 'msg.payload' is assigned to the 'msgIn'\nmsgIn = msg.payload;\n\n// initialize in out.payload the attribute devicename\n out.payload = {\n        \"devicename\": \"Hotel_Energy_Electra\"\n        \n };\n\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":820,"wires":[["a1d7f703.8861c","46dae60f.4c5e9"]]},{"id":"2578915d.c5008e","type":"function","z":"500c04f5.8a4544","name":"","func":"// initialize the out object to store attributes\nmsgIn = msg.payload[0];\nvar out = {};\n\nvar value1 = parseFloat(context.flow.get('DailySuiteKwh_Electra1')) || 0;\nvar value2 = parseFloat(context.flow.get('DailySuiteKwh_Electra2')) || 0;\n\nvar cost_value1 = parseFloat(context.flow.get('SuiteCost_Electra1')) || 0;\nvar cost_value2 = parseFloat(context.flow.get('SuiteCost_Electra2')) || 0;\n\n// Add the values\nvar DailyKWh_total = value1 + value2;\nvar EuroCost_total = DailyKWh_total * 0.13;\nvar SuiteCost_total = cost_value1 + cost_value2;\n\nout.payload = \n{\n  \"id\": \"Hotel_Energy_Electra\",\n  \"type\": \"EnergyCost\",\n    \"DailyKWh\": {\n        \"type\": \"float\",\n        \"value\": DailyKWh_total\n    },\n    \"EuroCost\": {\n        \"type\": \"float\",\n        \"value\": EuroCost_total\n    },\n    \"Hotel_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Energy_Electra\"\n    },\n    \"dateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T13:10:54.892Z\"\n    },\n    \"SuiteCostTotal\": {\n    \"type\": \"float\",\n    \"value\": SuiteCost_total\n  },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.63318\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.94122\"\n    }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2450,"y":820,"wires":[["e561dbc9.08f44","2499b168.0cb906"]]},{"id":"a1d7f703.8861c","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"","longitude":"","k1":"2317ff41-8dfb-4f98-81a9-30fa9d9997b4","k2":"7dea95bc-9e1f-4cdc-b213-5a370e70ac23","model":"AccomodationEnergyCost","selectedModel":"AccomodationEnergyCost","staticAttributeList":[],"x":2180,"y":820,"wires":[["2578915d.c5008e"]]},{"id":"46dae60f.4c5e9","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2110,"y":880,"wires":[]},{"id":"2499b168.0cb906","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2670,"y":880,"wires":[]},{"id":"e561dbc9.08f44","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"218495ec.90e97a","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":2700,"y":820,"wires":[]},{"id":"758c9297.b0d4dc","type":"inject","z":"500c04f5.8a4544","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"AccomodationEnergyCost_Aphrodite\",\"type\":\"EnergyCost\",\"DailyKWh\":{\"type\":\"float\",\"value\":\"\"},\"EuroCost\":{\"type\":\"float\",\"value\":\"\"},\"Hotel_Id\":{\"type\":\"string\",\"value\":\"\"},\"dateObserved\":{\"type\":\"string\",\"value\":\"\"},\"SuiteCostTotal\":{\"type\":\"float\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63547\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.94598\"}}","payloadType":"json","x":1730,"y":960,"wires":[["95463418.f3dc5"]]},{"id":"95463418.f3dc5","type":"function","z":"500c04f5.8a4544","name":"","func":"// create an object out to store the output data\nvar out = {};\n\n// The data from the injected 'msg.payload' is assigned to the 'msgIn'\nmsgIn = msg.payload;\n\n// initialize in out.payload the attribute devicename\n out.payload = {\n        \"devicename\": \"Hotel_Energy_Aphrodite\"\n        \n };\n\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":960,"wires":[["c63465ab.82eb5","98256e04.316f28"]]},{"id":"8c0de13f.155b78","type":"function","z":"500c04f5.8a4544","name":"","func":"// initialize the out object to store attributes\nmsgIn = msg.payload[0];\nvar out = {};\n\nvar value1 = parseFloat(context.flow.get('DailySuiteKwh_Aphrodite1')) || 0;\nvar value2 = parseFloat(context.flow.get('DailySuiteKwh_Aphrodite2')) || 0;\n\nvar cost_value1 = parseFloat(context.flow.get('SuiteCost_Aphrodite1')) || 0;\nvar cost_value2 = parseFloat(context.flow.get('SuiteCost_Aphrodite2')) || 0;\n\n// Add the values\nvar DailyKWh_total = value1 + value2;\nvar EuroCost_total = DailyKWh_total * 0.12;\nvar SuiteCost_total = cost_value1 + cost_value2;\n\nout.payload = \n{\n  \"id\": \"Hotel_Energy_Aphrodite\",\n  \"type\": \"EnergyCost\",\n    \"DailyKWh\": {\n        \"type\": \"float\",\n        \"value\": DailyKWh_total\n    },\n    \"EuroCost\": {\n        \"type\": \"float\",\n        \"value\": EuroCost_total\n    },\n    \"Hotel_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Energy_Aphrodite\"\n    },\n    \"dateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T13:10:54.892Z\"\n    },\n    \"SuiteCostTotal\": {\n    \"type\": \"float\",\n    \"value\": SuiteCost_total\n  },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.63547\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.94598\"\n    }\n}\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2430,"y":960,"wires":[["1868fce8.5aa753","aa733ca6.da7a5"]]},{"id":"c63465ab.82eb5","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"","longitude":"","k1":"ac3c41f4-7f17-436e-9f56-ff4d05de5a9a","k2":"fee64e5b-d911-47b8-8ed5-a28c240eb818","model":"AccomodationEnergyCost","selectedModel":"AccomodationEnergyCost","staticAttributeList":[],"x":2160,"y":960,"wires":[["8c0de13f.155b78"]]},{"id":"98256e04.316f28","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2090,"y":1020,"wires":[]},{"id":"aa733ca6.da7a5","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2650,"y":1020,"wires":[]},{"id":"1868fce8.5aa753","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"218495ec.90e97a","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":2680,"y":960,"wires":[]},{"id":"80d0bc1.ed24fc","type":"comment","z":"500c04f5.8a4544","name":"Aphrodite","info":"","x":1760,"y":900,"wires":[]},{"id":"b6afe8ea.2f0868","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite1_Olympion_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1220,"wires":[["e58a5a24.7d28b8","e9357cb0.4af938"]]},{"id":"e9357cb0.4af938","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1280,"wires":[]},{"id":"e58a5a24.7d28b8","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"37.958958","longitude":"23.719182","k1":"24b22ad0-9040-4028-8592-1bfbc3966cdc","k2":"590909e7-654b-477e-9cb4-941a046b3020","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":720,"y":1220,"wires":[["cfeeddda.9b247"]]},{"id":"cfeeddda.9b247","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite1_Olympion_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"true\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"70\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T12:10:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"0\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"80\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite1_KWh\"\n    },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.63897\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"23.00317\"\n    }\n}\n\ncontext.flow.set('DailySuiteKwh_Olympion1', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Olympion1', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1220,"wires":[["7cefb0de.810768","3dfabb03.cbdcec"]]},{"id":"3dfabb03.cbdcec","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1280,"wires":[]},{"id":"7cefb0de.810768","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":1220,"wires":[]},{"id":"a2782696.b8e358","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite2_Olympion_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1360,"wires":[["b2d753a7.1e2ae","adf44342.ca005"]]},{"id":"b2d753a7.1e2ae","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1420,"wires":[]},{"id":"68840e33.c0bfd","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite2_Olympion_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"61\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T07:20:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"7\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"130\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite2_KWh\"\n    },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.63867\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.00997\"\n    }\n}\n\ncontext.flow.set('DailySuiteKwh_Olympion2', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Olympion2', parseFloat(out.payload.SuiteCost.value) || 0);\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1360,"wires":[["dc07dcc3.6de03","d527781f.1369f8"]]},{"id":"d527781f.1369f8","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1420,"wires":[]},{"id":"dc07dcc3.6de03","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":1360,"wires":[]},{"id":"adf44342.ca005","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.630631","longitude":"22.830001","k1":"b40bfadb-54fd-492a-9485-b7524daec071","k2":"13036604-9186-4ca5-b4ef-915e283842cb","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":720,"y":1360,"wires":[["68840e33.c0bfd"]]},{"id":"f9035bf3.32bf18","type":"comment","z":"500c04f5.8a4544","name":"Hotel_TheMet","info":"","x":730,"y":1500,"wires":[]},{"id":"211f2b10.cb76e4","type":"inject","z":"500c04f5.8a4544","name":"Suite 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite1_Met\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63897\"},\"longitude\":{\"type\":\"float\",\"value\":\"23.00317\"}}","payloadType":"json","x":290,"y":1560,"wires":[["bc48cf45.fb596"]]},{"id":"bc48cf45.fb596","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite1_Met_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1560,"wires":[["d407097f.db4bd8","d7985a95.c84858"]]},{"id":"d7985a95.c84858","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1620,"wires":[]},{"id":"d407097f.db4bd8","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.625627","longitude":"22.638763","k1":"5657549b-be8b-4d30-a0ce-e6d86f8d5d7e","k2":"361879c8-bf1b-47af-b328-4d4dfa3671f4","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":720,"y":1560,"wires":[["1bbfee31.25b852"]]},{"id":"1bbfee31.25b852","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite1_Met_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"64\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-17T13:22:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"10\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"190\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite1_KWh\"\n    },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.62897\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.00497\"\n    }\n}\n\ncontext.flow.set('DailySuiteKwh_Met1', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Met1', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1560,"wires":[["990ccfcc.3718b","675b0d52.5fc074"]]},{"id":"675b0d52.5fc074","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1620,"wires":[]},{"id":"990ccfcc.3718b","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":1560,"wires":[]},{"id":"d60bec1e.459ba","type":"inject","z":"500c04f5.8a4544","name":"Suite 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite2_Met\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63897\"},\"longitude\":{\"type\":\"float\",\"value\":\"23.00317\"}}","payloadType":"json","x":290,"y":1700,"wires":[["60540cce.f4e564"]]},{"id":"60540cce.f4e564","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite2_Met_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1700,"wires":[["72a823a4.8dbf9c","c0fc4ced.86f1c"]]},{"id":"c0fc4ced.86f1c","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1760,"wires":[]},{"id":"72a823a4.8dbf9c","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.598939","longitude":"23.01291","k1":"6be00d42-0704-4450-b43d-9ab85f593a54","k2":"c8538c3c-bddc-4e09-971a-d7baa5b5e442","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":720,"y":1700,"wires":[["3dcaa91f.ff7416"]]},{"id":"3dcaa91f.ff7416","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite2_Met_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"69\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-16T13:23:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"5\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"210\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite2_KWh\"\n    },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.62817\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"23.01317\"\n    }\n}\n\ncontext.flow.set('DailySuiteKwh_Met2', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Met2', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1700,"wires":[["2fd0d55a.8dff3a","bec4d5e3.8e2ce8"]]},{"id":"bec4d5e3.8e2ce8","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1760,"wires":[]},{"id":"2fd0d55a.8dff3a","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":1700,"wires":[]},{"id":"69d81ab0.a24f34","type":"comment","z":"500c04f5.8a4544","name":"Hotel_Makedonia","info":"","x":740,"y":1840,"wires":[]},{"id":"7affda11.cc879c","type":"inject","z":"500c04f5.8a4544","name":"Suite 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite1_Makedonia\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63897\"},\"longitude\":{\"type\":\"float\",\"value\":\"23.00317\"}}","payloadType":"json","x":290,"y":1900,"wires":[["bbc10f3a.161a3"]]},{"id":"bbc10f3a.161a3","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite1_Makedonia_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1900,"wires":[["f16623d4.67efa","39431d16.2d7dea"]]},{"id":"39431d16.2d7dea","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1960,"wires":[]},{"id":"f16623d4.67efa","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.625627","longitude":"22.638763","k1":"55a8eb90-d989-4f23-bb40-e0f8103001f1","k2":"dc392d1d-8739-42ba-ae43-440fc8e55483","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":720,"y":1900,"wires":[["2d7a692a.be496e"]]},{"id":"2d7a692a.be496e","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite1_Makedonia_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"144\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-21T06:49:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"20\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"125\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite1_KWh\"\n    },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.63897\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"23.00317\"\n    }\n}\n\ncontext.flow.set('DailySuiteKwh_Makedonia1', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Makedonia1', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1900,"wires":[["1b37e621.31120a","d94174f9.e8b97"]]},{"id":"d94174f9.e8b97","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":1960,"wires":[]},{"id":"1b37e621.31120a","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":1900,"wires":[]},{"id":"b3ee6e13.c1959","type":"inject","z":"500c04f5.8a4544","name":"Suite 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite2_Makedonia\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.63897\"},\"longitude\":{\"type\":\"float\",\"value\":\"23.03794\"}}","payloadType":"json","x":290,"y":2040,"wires":[["8b455915.a70e8"]]},{"id":"8b455915.a70e8","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite2_Makedonia_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2040,"wires":[["bc711c23.4325e","cf879a38.c4fad8"]]},{"id":"cf879a38.c4fad8","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":2100,"wires":[]},{"id":"bc711c23.4325e","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.598939","longitude":"23.01291","k1":"6b8eda7f-9fdd-45aa-ab0c-bf8d2dda1955","k2":"db8cf726-81d0-42bb-8450-85b3410ce874","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":720,"y":2040,"wires":[["c9628e64.7a3f98"]]},{"id":"c9628e64.7a3f98","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite2_Makedonia_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"71\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-15T09:49:54.892Z\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"175\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"12\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite2_KWh\"\n    },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.63897\"\n    },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"23.03794\"\n    }\n}\n\ncontext.flow.set('DailySuiteKwh_Makedonia2', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Makedonia2', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":2040,"wires":[["9b0dd089.8bc34","25e7aa8d.0e4f5e"]]},{"id":"25e7aa8d.0e4f5e","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":2100,"wires":[]},{"id":"9b0dd089.8bc34","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1240,"y":2040,"wires":[]},{"id":"1dc8d3d5.e9d33c","type":"comment","z":"500c04f5.8a4544","name":"Hotel_Electra","info":"","x":710,"y":2200,"wires":[]},{"id":"278c94a6.b7f92c","type":"inject","z":"500c04f5.8a4544","name":"Suite 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite1_Electra\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.65897\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.99842\"}}","payloadType":"json","x":270,"y":2260,"wires":[["3cc464fc.7fda8c"]]},{"id":"3cc464fc.7fda8c","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite1_Electra_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":2260,"wires":[["8231702f.824f2","4097ff68.60c94"]]},{"id":"4097ff68.60c94","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2320,"wires":[]},{"id":"8231702f.824f2","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.625627","longitude":"22.638763","k1":"5657549b-be8b-4d30-a0ce-e6d86f8d5d7e","k2":"361879c8-bf1b-47af-b328-4d4dfa3671f4","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":700,"y":2260,"wires":[["94321f03.49d618"]]},{"id":"94321f03.49d618","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite1_Electra_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"53\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-17T07:22:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"8\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"186\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite1_KWh\"\n    },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.65897\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.99842\"\n  }\n}\n\ncontext.flow.set('DailySuiteKwh_Electra1', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Electra1', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":2260,"wires":[["d18efc1b.9e2208","d9499071.72f34"]]},{"id":"d9499071.72f34","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":2320,"wires":[]},{"id":"d18efc1b.9e2208","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1220,"y":2260,"wires":[]},{"id":"bba570f5.d29db8","type":"inject","z":"500c04f5.8a4544","name":"Suite 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite2_Electra\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.65230\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.93259\"}}","payloadType":"json","x":270,"y":2400,"wires":[["bbe95eeb.a35db"]]},{"id":"bbe95eeb.a35db","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite2_Electra_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":2400,"wires":[["37e522cf.768dce","7dc4e23a.02e9ac"]]},{"id":"7dc4e23a.02e9ac","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2460,"wires":[]},{"id":"37e522cf.768dce","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.598939","longitude":"23.01291","k1":"41c19f7b-27fa-4c26-a083-48441f7f83f4","k2":"0db76507-1e58-4c34-a66d-5a2a85ee55a1","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":700,"y":2400,"wires":[["9b316ea1.d01fe"]]},{"id":"9b316ea1.d01fe","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite2_Electra_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"true\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"79\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-17T03:23:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"0\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"213\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite2_KWh\"\n    },\n    \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.65230\"\n      },\n    \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.93259\"\n  }\n}\n\ncontext.flow.set('DailySuiteKwh_Electra2', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Electra2', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":2400,"wires":[["4dff1983.5fd7c8","bc1c9d83.64d37"]]},{"id":"bc1c9d83.64d37","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":2460,"wires":[]},{"id":"4dff1983.5fd7c8","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1220,"y":2400,"wires":[]},{"id":"519244ca.580ccc","type":"comment","z":"500c04f5.8a4544","name":"Hotel_Aphrodite","info":"","x":720,"y":2520,"wires":[]},{"id":"c2dbfe56.4d14a8","type":"inject","z":"500c04f5.8a4544","name":"Suite 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite1_Aphrodite\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.67231\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.87960\"}}","payloadType":"json","x":270,"y":2580,"wires":[["1443678e.9b68c8"]]},{"id":"1443678e.9b68c8","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite1_Aphrodite_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":2580,"wires":[["1f15b01f.60201","8f608bd.82ee7f8"]]},{"id":"8f608bd.82ee7f8","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2640,"wires":[]},{"id":"1f15b01f.60201","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.625627","longitude":"22.638763","k1":"5657549b-be8b-4d30-a0ce-e6d86f8d5d7e","k2":"361879c8-bf1b-47af-b328-4d4dfa3671f4","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":700,"y":2580,"wires":[["791d8ad2.5aa194"]]},{"id":"791d8ad2.5aa194","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite1_Aphrodite_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"53\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T06:22:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"10\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"179\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite1_KWh\"\n    },\n  \"latitude\": {\n    \"type\": \"float\",\n    \"value\": \"40.67231\"\n  },\n  \"longitude\": {\n    \"type\": \"float\",\n    \"value\": \"22.87960\"\n  }\n}\n\ncontext.flow.set('DailySuiteKwh_Aphrodite1', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Aphrodite1', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":2580,"wires":[["3dd4f6c6.bc26a2","4b0d4d07.2a3cec"]]},{"id":"4b0d4d07.2a3cec","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":2640,"wires":[]},{"id":"3dd4f6c6.bc26a2","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1220,"y":2580,"wires":[]},{"id":"754b226b.90b87c","type":"inject","z":"500c04f5.8a4544","name":"Suite 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Suite2_Aphrodite\",\"type\":\"Suites\",\"Availability\":{\"type\":\"string\",\"value\":\"\"},\"DailySuiteKwh\":{\"type\":\"float\",\"value\":\"\"},\"DateObserved\":{\"type\":\"string\",\"value\":\"\"},\"DaysReserved\":{\"type\":\"float\",\"value\":\"\"},\"SuiteCost\":{\"type\":\"float\",\"value\":\"\"},\"Suite_Id\":{\"type\":\"string\",\"value\":\"\"},\"latitude\":{\"type\":\"float\",\"value\":\"40.62896\"},\"longitude\":{\"type\":\"float\",\"value\":\"22.99176\"}}","payloadType":"json","x":270,"y":2720,"wires":[["1c182382.5bf6c4"]]},{"id":"1c182382.5bf6c4","type":"function","z":"500c04f5.8a4544","name":"","func":"var out = {};\nmsgIn= msg.payload;\nout.payload = {\n    \"devicename\": \"Suite2_Aphrodite_Data\"\n};\n\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":2720,"wires":[["45a9790.377b908","61a40013.00bc"]]},{"id":"61a40013.00bc","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2780,"wires":[]},{"id":"45a9790.377b908","type":"iotdirectory-new-device-from-model","z":"500c04f5.8a4544","name":"","authentication":"","devicename":"","latitude":"40.598939","longitude":"23.01291","k1":"41c19f7b-27fa-4c26-a083-48441f7f83f4","k2":"0db76507-1e58-4c34-a66d-5a2a85ee55a1","model":"AccommodationSuites","selectedModel":"AccommodationSuites","staticAttributeList":[],"x":700,"y":2720,"wires":[["abe37cce.c3fe58"]]},{"id":"abe37cce.c3fe58","type":"function","z":"500c04f5.8a4544","name":"","func":"msgIn = msg.payload[0];\nvar out = {};\n\nout.payload = \n{\n  \"id\": \"Suite2_Aphrodite_Data\",\n  \"type\": \"Suites\",\n    \"Availability\": {\n        \"type\": \"string\",\n        \"value\": \"false\"\n    },\n    \"DailySuiteKwh\": {\n        \"type\": \"float\",\n        \"value\": \"59\"\n    },\n    \"DateObserved\": {\n        \"type\": \"string\",\n        \"value\": \"2023-11-18T21:23:54.892Z\"\n    },\n    \"DaysReserved\": {\n        \"type\": \"float\",\n        \"value\": \"6\"\n    },\n    \"SuiteCost\": {\n        \"type\": \"float\",\n        \"value\": \"192\"\n    },\n    \"Suite_Id\": {\n        \"type\": \"string\",\n        \"value\": \"Suite2_KWh\"\n    },\n      \"latitude\": {\n        \"type\": \"float\",\n        \"value\": \"40.62896\"\n      },\n      \"longitude\": {\n        \"type\": \"float\",\n        \"value\": \"22.99176\"\n  }\n}\n\ncontext.flow.set('DailySuiteKwh_Aphrodite2', parseFloat(out.payload.DailySuiteKwh.value) || 0);\ncontext.flow.set('SuiteCost_Aphrodite2', parseFloat(out.payload.SuiteCost.value) || 0);\n\n\nreturn out;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":2720,"wires":[["8ac76f8a.ced7a","60399a33.3195a4"]]},{"id":"60399a33.3195a4","type":"debug","z":"500c04f5.8a4544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":2780,"wires":[]},{"id":"8ac76f8a.ced7a","type":"orion-out-api-v2","z":"500c04f5.8a4544","name":"","authentication":"","tls":"aa0e14b0.d73c58","service":"d5988531.3fc178","entype":"","enid":"","userk1":"","passk2":"","tenant":"","servicepath":"","apikey":"","basicAuth":"","x":1220,"y":2720,"wires":[]},{"id":"aa0e14b0.d73c58","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"d5988531.3fc178","type":"orion-service-api-v2","z":"","contextbroker":"orionGreeceUNISYSTEMS-UNIFI","selectedContextbroker":"orionGreeceUNISYSTEMS-UNIFI","name":"orionGreeceUNISYSTEMS-UNIFI","url":"192.168.1.47","port":"8453"},{"id":"218495ec.90e97a","type":"orion-service-api-v2","z":"","contextbroker":"orionGreeceUNISYSTEMS-UNIFI","selectedContextbroker":"orionGreeceUNISYSTEMS-UNIFI","name":"orionGreeceUNISYSTEMS-UNIFI","url":"192.168.1.47","port":"8453"}]